@font-face {
	font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://cdn.airikr.me/fonts/libre-franklin-400.ttf);
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://cdn.airikr.me/fonts/libre-franklin-700.ttf);
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Amsterdam';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://cdn.airikr.me/fonts/amsterdam.ttf);
	unicode-range: U+000-5FF;
}



@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}



html {
	font-size: 1rem;
	line-height: 1rem;
	height: 100%;
	height: 100vh;
	scrollbar-color: var(--scrollbar) transparent;
}

body {
	/* display: grid;
	grid-template-areas:
	"header header header"
	"content content content"
	"footer footer footer" */
	overflow-y: scroll;
	height: auto;
	min-height: 100%;
	min-height: 100vh;
	position: relative;
}

html, body {
	background-color: var(--background);
	color: var(--color_text);
	font-family: 'Libre Franklin', sans-serif;
	font-size: 95%;
	line-height: 140%;
	margin: 0;
	transition: background .3s;
	padding: 0;
}

/*  Safari hack   */
@media not all and (min-resolution:.001dpcm) {
	@supports (-webkit-appearance:none) and (stroke-color:transparent) {
		html, body {
			font-size: 0.940rem;
		}
	}
}

a {
	color: var(--color_link);
	text-decoration: underline;
	text-decoration-color: var(--underline_link);
}

p {
	word-wrap: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	margin: 0;
	padding: 5px 0;
	text-align: justify;
}

hr {
	border: 0;
	border-top: 1px solid var(--hr);
	margin: 20px 0 40px 0;
	padding: 0;
}

img, svg:not(#telegram), i, .avatar {
	filter: var(--image_filter);
	opacity: var(--image_opacity);
}

mark {
	background-color: var(--background_marked);
	color: var(--color_yellow);
	line-height: 70%;
	height: 12px;
	margin: 0 3px;
	padding: 5px;
	text-decoration: none;
}

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin: 0;
	width: 100%;
}

h1 {
	color: var(--color_text);
	font-size: 200%;
	font-weight: 700;
	line-height: 120%;
	margin: 0 0 20px 0;
}

h2 {
	font-size: 180%;
	font-weight: 200;
	line-height: 2rem;
	margin: 0 0 10px 0;
}

h2 > a {
	color: var(--color_text);
	text-decoration: none;
}

h3 {
	font-size: 140%;
	font-weight: 400;
	line-height: 2rem;
	margin: 30px 0 0 0;
	padding: 0;
}

h4 {
	font-size: 115%;
	font-weight: 700;
	margin: 50px 0 5px 0;
	padding: 0;
}

h4.first {
	margin-top: 0;
}

svg:not(#telegram) > path:last-child {
	fill: var(--color_icon);
}

/*
svg#rss > path:last-child {
	fill: var(--color_icon_rss);
}
*/

abbr {
	border-bottom: 1px dashed var(--color_text);
	cursor: help;
	text-decoration: none;
}

ol, ul {
	margin: 10px 35px;
	padding: 0;
}

li {
	margin: 0;
	padding: 5px 0;
	text-align: left;
}

li > ul {
	margin: 5px 0 5px 15px;
	padding: 0;
}

code {
	color: var(--color_code);
	font-size: 0.880rem;
}

input, textarea {
	background-color: var(--background_field);
	border: 0;
	border-radius: 3px;
	color: var(--color);
	font-family: 'Ubuntu', sans-serif;
	font-size: 90%;
	line-height: 140%;
	padding: 5px 7px;
}

input[readonly] {
	cursor: text;
	outline: none;
}

input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	clip-path: inset(50%);
	border: 1px solid #dd4b39;
}

input[type="submit"] {
	background-color: var(--background_submit);
	border: 0;
	color: var(--color_submit);
	cursor: pointer;
	padding: 7px 12px;
}

textarea {
	min-height: 150px;
	resize: vertical;
	vertical-align: top;
}

input[disabled],
textarea[disabled],
select[disabled] {
	cursor: not-allowed;
	opacity: .4;

	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
}

label:focus-within {
	outline: 2px solid #000000;
}

noscript {
	background-color: var(--background_noscript);
	backdrop-filter: blur(4px) grayscale(100%);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

noscript > div {
	padding: 10px 20px;
	text-align: center;
}







/* **** **** **** **** **** */







/*
	Affects the whole website
*/

.aside,
.change-theme {
	display: none;
}


aside {
	border-right: 1px solid var(--border_nav);
	font-size: 85%;
	margin-right: 40px;
	line-height: 140%;
	left: 0;
	height: 100%;
	padding: 0 0 10px 0;
	position: sticky;
	top: 20px;
	width: 220px;
}

aside > header {
	color: var(--color_text);
	font-family: 'Amsterdam', sans-serif;
	font-size: 200%;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0;
}

aside > nav#main {
	font-size: 110%;
	padding: 5px 0;
	z-index: 9999;
}

aside > nav#main > h4 {
	margin: 40px 0 10px 33px;
	padding: 0;
}

aside > nav#main > a,
aside > nav#main > div > a {
	align-items: center;
	color: var(--color_text);
	display: flex;
	flex-direction: row;
	padding: 5px 10px;
	text-decoration: none;
	vertical-align: top;
}

aside > nav#main > a.active,
aside > nav#main > div > a.active {
	color: var(--nav_active);
	border-right: 2px solid var(--nav_active);
	margin-right: 1px;
}

aside > nav#main > a.active > svg > path:not(:first-child),
aside > nav#main > div > a.active > svg > path:not(:first-child) {
	fill: var(--nav_active);
}

aside > nav#main > a > svg,
aside > nav#main > div > a > svg,
aside > nav#main > div > svg,
aside > .other > .icons > a > svg {
	height: 18px;
	margin-right: 10px;
	vertical-align: top;
	opacity: .3;
	width: 18px;
}

aside > .other > .icons > a > svg {
	margin-top: 0;
	margin-right: 0;
}

aside > nav#main > .inactive {
	padding: 5px 10px;
	opacity: .4;
}

aside > nav#main > .space {
	margin: 10px 0;
}

aside > nav#main > .submenu {
	margin: 0 0 10px 34px;
}

aside > nav#main > .submenu > a {
	padding: 5px;
}

aside > .about {
	font-size: 110%;
	line-height: 130%;
	margin-top: 50px;
	padding: 0 15px;
}

aside > .about > .avatar {
	background-image: url(https://cdn.airikr.me/images/selfie-3-b.jpg);
	background-size: 100px;
	border-radius: 100px;
	height: 100px;
	margin: 0 auto 20px auto;
	width: 100px;
}

aside > .other {
	margin-top: 20px;
	opacity: .5;
	text-align: center;
}

aside > .other > .icons {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

aside > .other > .icons > a {
	padding: 5px;
}

aside > .other > .icons > a.theme.hide {
	display: none;
}

aside > .other > .icons > a > svg {
	height: 18px;
	width: 18px;
}



section#website {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	height: 100%;
	padding: 50px 0 30px 0;
	position: relative;
	width: 1000px;
}

section#website > main {
	width: calc(1000px - 200px - 40px);
}

section#website > main.spacebelow {
	margin-bottom: 70px;
}

section#website > main > .dim {
	background-color: var(--background_dimmed);
	/* backdrop-filter: blur(4px) grayscale(50%); */
	display: none;
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 8800;
}

section#website > main > div#analytics-question {
	bottom: 20px;
	display: none;
	margin: 0 auto;
	pointer-events: none;
	position: fixed;
	width: 1000px;
	z-index: 8000;
}

section#website > main > div#analytics-question > .minimized {
	background-color: var(--background_analytics);
	backdrop-filter: blur(4px) grayscale(50%);
	border-radius: 5px;
	cursor: pointer;
	float: right;
	padding: 20px 10px;
	pointer-events: all;
	text-align: center;
	width: 370px;
}

section#website > main > div#analytics-question > .maximized {
	background-color: var(--background_analytics);
	backdrop-filter: blur(4px) grayscale(50%);
	border-radius: 5px;
	display: none;
	float: right;
	padding: 10px 20px;
	pointer-events: all;
	width: 350px;
}

section#website > main > div#analytics-question > .maximized > h4 {
	margin-top: 30px;
}

section#website > main > div#analytics-question > .maximized > .links {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}

section#website > main > div#analytics-question > .maximized > .links > a#allow {
	color: var(--color_green);
	padding: 5px;
	text-decoration: none;
}

section#website > main > div#analytics-question > .maximized > .links > a#hide {
	color: var(--color_text);
	margin-left: 10px;
	opacity: .7;
	padding: 5px;
	text-decoration: none;
}

section#website > main > div#analytics-question > .maximized > .message-analytics {
	display: none;
	padding: 30px 10px 10px 10px;
	text-align: center;
}







/* **** **** **** **** **** */







/*
	PAGE: Error
*/

section#error {
	align-items: center;
	display: flex;
	justify-content: center;
	font-size: 5rem;
	font-weight: 700;
	margin: 80px 50px;
	opacity: .15;
}







/*
	PAGE: Tag cloud
*/

section#tags > .tag {
	padding: 5px 0;
}

section#tags > .tag > div {
	display: inline-block;
	vertical-align: top;
}

section#tags > .tag > .rss > a > svg {
	height: 13px;
	margin-right: 5px;
	padding: 5px;
	width: 13px;
}

section#tags > .tag > .name > a {
	color: var(--color_text);
	padding: 5px;
	text-decoration: none;
}

section#tags > .tag > .amount {
	margin-left: 5px;
	opacity: .5;
}







/*
	PAGE: Blog
*/

section#read > .popup {
	display: none;
}

section#read > .popup > div {
	align-items: center;
	display: flex;
	justify-content: center;
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

section#read > .popup > div > div {
	background-color: var(--background_popup);
	backdrop-filter: blur(10px) grayscale(50%);
	border: 1px solid var(--border_popup);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	max-width: 500px;
	padding: 15px 25px;
}

section#read > .popup > div > div > .content {
	flex: 1 0 auto;
}

section#read > .popup > div > div > footer {
	flex-shrink: 0;
}

section#read > .popup > div > div > footer > .options {
	background-color: var(--background_popup_options);
	margin: 50px -25px 0 -25px;
	padding: 15px 25px 0 25px;
}

section#read > .popup > div > div > footer > .options > .checkboxes {
	display: block;
}

section#read > .popup > div > div > footer > .options > .checkboxes > div:not(:first-child) {
	margin-top: 8px;
}

section#read > .popup > div > div > footer > .options > .checkboxes > .message-popup {
	display: none;
	margin-bottom: 10px;
	margin-left: 20px;
}

section#read > .popup > div > div > footer > .button {
	background-color: var(--background_popup_options);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: 0 -25px -15px -25px;
	padding: 25px 15px 15px 25px;
}

section#read > .popup > div > div > footer > .button > a#close {
	color: var(--color_red);
	margin-left: 15px;
	padding: 5px;
	text-decoration: none;
}



section#blog > .message {
	margin: 50px 0;
}

section#blog > .message > p {
	padding: 5px 0;
	text-align: center;
}

section#blog > .message > svg {
	animation: spin 1.5s linear infinite;
	background-size: 28px;
	display: block;
	margin-bottom: 20px;
	height: 48px;
	opacity: .5;
	width: 100%;
}

section#blog > .no-javascript {
	display: none;
}

section#blog > .no-posts {
	margin: 50px 0;
}

section#blog > .no-posts > p {
	padding: 5px 0;
	text-align: center;
}

section#blog > .no-posts > svg {
	background-size: 28px;
	display: block;
	margin-bottom: 20px;
	height: 48px;
	opacity: .5;
	width: 100%;
}

section#blog > h4#results {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin: 0 0 40px 0;
}

section#blog > h4#results > svg {
	height: 24px;
	margin-right: 10px;
	opacity: .3;
	width: 24px;
}

section#no-posts > svg > path:not(:first-child) {
	fill: var(--color_text);
}

section#share-to-mastodon > form {
	margin-top: 40px;
}

section#share-to-mastodon > form > .item > .field > input {
	width: 300px;
}

section#share-to-mastodon > form > .button {
	margin-top: 5px;
}

section#read > .share {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin: 50px auto 0 auto;
	justify-content: center;
	padding: 15px 10px;
	position: relative;
	width: 200px;
}

section#read > .share > .icon,
section#read > .share > .icon > a > svg {
	height: 32px;
	width: 32px;
}

section#read > .share > .icon {
	cursor: pointer;
	margin-left: 10px;
	opacity: var(--icon_opacity);
}

section#read > .share > .telegram {
	background-color: #ffffff;
	border-radius: 100px;
}

section#blog > .pinned {
	margin: 5px 0 50px 0;
}

section#blog > .pinned > h4 {
	font-weight: 200;
	margin: 0 0 10px 0;
}

section#blog > .pinned > div {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#blog > .pinned > div > .published {
	width: 130px;
}

section#blog > .item > header > .info,
section#read > .item > header > .info {
	opacity: .7;
}

section#blog > .item > header > .info > div,
section#read > .item > header > .info > div {
	display: inline-block;
}

section#blog > .item > header > .info > .delimiter,
section#read > .item > header > .info > .delimiter {
	padding: 0 5px;
}

section#blog > .item > header > .info > .comments > a,
section#read > .item > header > .info > .comments > a,
section#read > .item > header > .info > .admin > a {
	color: var(--color_text);
	text-decoration: none;
}

section#blog > .item > header > .tags,
section#read > .item > header > .tags {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	line-height: 1.380rem;
	margin-left: -5px;
}

section#blog > .item > header > .tags > svg,
section#read > .item > header > .tags > svg {
	height: 16px;
	margin-right: 5px;
	opacity: .2;
	width: 16px;
}

section#blog > .item > header > .tags > a,
section#read > .item > header > .tags > a {
	color: var(--color_text);
	opacity: .5;
	padding: 0 5px;
	text-decoration: none;
}

section#read > .item > header > .edited {
	margin-top: 5px;
	opacity: .5;
}

section#read > .item > header > .edited > a {
	color: var(--color_text);
	text-decoration: none;
}

section#blog > .item > main,
section#read > .item > main {
	line-height: 160%;
}

section#read > .item > main {
	font-size: 110%;
}

section#read > .item > main > .has-not-been-corrected {
	color: var(--color_yellow);
	font-size: 100%;
	padding: 10px 15px;
	text-align: center;
}

section#blog > .item > figure > img,
section#read > .item > figure > img {
	background-color: var(--background_cover);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	vertical-align: top;
	object-fit: cover;
}

section#read > .item.read > figure {
	margin-left: -30px;
}

section#read > .item.read > figure#with-attribution {
	margin-bottom: 0;
}

section#read > .item.read > figure#with-attribution > img#cover {
	margin: 30px 0 0 6px;
}

section#read > .item.read > figure > img#cover {
	height: 500px;
	margin: 30px 0;
	width: calc(100% + 50px);
}

section#read > .item.read > .attribution {
	margin: 5px -25px 15px 0;
	opacity: .5;
	text-align: right;
}

section#read > .item.read > .attribution > a {
	border: 0;
	color: var(--color);
	padding: 5px;
	text-decoration: none;
}

section#blog > .item > figure > img#cover-list {
	height: 100px;
	margin: 15px 0;
	width: 100%;
}

section#blog > .item:not(.first):not(.read) {
	margin-top: 60px;
}

section#read > .item.read > main > .p-summary.normal {
	background-color: transparent;
	border-radius: 0;
	margin: 0;
	padding: 0;
}

section#read > .item.read > main > .p-summary.normal > p {
	font-size: 100%;
	font-weight: 400;
	line-height: 160%;
}

section#blog > .item > main > details > .content > figure,
section#read > .item.read > main > .e-content > figure {
	margin: 20px;
	width: calc(100% - (20px * 2));
}

section#blog > .item > main > details > .content > figure:not(:first-child),
section#read > .item.read > main > .e-content > figure:not(:first-child) {
	margin-top: 10px;
}

section#blog > .item > main > details > .content > figure > img,
section#blog > .item > main > figure > img,
section#read > .item.read > main > .e-content > figure > img {
	background-size: contain, cover;
	border-radius: 3px;
	margin: 0;
	vertical-align: top;
	width: 100%;
}

section#read > .item.read > main > .p-summary > p,
section#blog > .item > main > .e-content > p {
	padding: 10px 0;
}

section#read > .item.read > main.nocover {
	margin-top: 25px;
}

section#read > .item.read > main {
	max-width: 800px;
}

section#blog > .item > main.nocover,
section#read > .item > main.nocover {
	margin-top: 10px;
}

section#blog > .item > main > p > sup > .footnote-ref,
section#read > .item > main > p > sup > .footnote-ref {
	color: var(--color_footnote_reference);
	padding: 5px 3px;
	text-decoration: none;
}

section#blog > .item > main > .footnotes > hr,
section#read > .item > main > .footnotes > hr {
	border: 0;
	border-top: 1px dashed var(--border_footnote_line);
	margin: 25px 0 0 0;
	padding: 25px 0 0 0;
}

section#blog > .item > main > .footnotes > ol,
section#read > .item > main > .footnotes > ol {
	margin: 0;
	padding: 0 0 0 40px;
}

section#blog > .item > main > .footnotes > ol > li > p > .footnote-backref,
section#read > .item > main > .footnotes > ol > li > p > .footnote-backref {
	color: var(--color_footnote_reference);
	padding: 5px 8px;
	text-decoration: none;
}

section#blog > .item > main > span > p,
section#blog > .item > main > details > summary > p,
section#read > .item.read > main > details > .content > p {
	padding: 10px 0;
}

section#blog > .item > main > details summary {
	cursor: pointer;
	text-align: justify;
}

section#blog > .item > main > details summary > * {
	display: inline;
}

section#blog > .item > main > details > .content,
section#read > .item.read > main > details > .content {
	padding-top: 10px;
}

section#read > .item.read > .suggestions {
	margin-top: 30px;
	opacity: .7;
	text-align: right;
}

section#read > .item.read > .suggestions > .edits {
	margin-top: 10px;
	opacity: .7;
	text-align: right;
}

section#read > div > div > a > .no-cover {
	background-color: var(--background_cover);
	border-radius: 5px;
	height: 80px;
	width: 100%;
}

section#read > .paging {
	align-items: flex-start;
	display: flex;
	margin-top: 100px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

section#read > .paging > div > h3 {
	font-size: 180%;
	margin-top: 0;
	opacity: .2;
	text-align: center;
}

section#read > .paging > div > .nothing {
	background-color: var(--background_cover);
	border-radius: 5px;
	height: 80px;
	margin: 10px;
	opacity: .4;
	width: 300px;
}

section#read > .paging > div > a {
	color: var(--color_text);
	display: block;
	padding: 10px 10px 0 10px;
	text-align: center;
	text-decoration: none;
}

section#read > .paging > div > a > figure {
	flex-shrink: 0;
	height: 80px;
	max-width: 300px;
	min-width: 300px;
	width: 100%;
}

section#read > .paging > div > a > figure > img {
	background-color: var(--background_cover);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	width: 100%;
}

section#read > .paging > div > a > div:not(.no-cover) {
	max-width: 300px;
	min-width: 300px;
	overflow: hidden;
	padding: 10px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

section#read > .similar {
	margin: 40px auto 0 auto;
	max-width: 600px;
}

section#read > .similar > div:not(.message) {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

section#read > .similar > div > .nothing {
	display: block;
	opacity: .4;
	padding: 10px 10px 0 10px;
	text-align: center;
}

section#read > .similar > div > .nothing > .no-cover {
	background-color: var(--background_cover);
	border-radius: 5px;
	height: 80px;
	max-width: 100px;
	min-width: 100px;
}

section#read > .similar > div > .nothing > .dummy-text {
	opacity: .3;
	padding: 10px 0;
}

section#read > .similar > div > a {
	color: var(--color_text);
	display: block;
	max-width: 100px;
	min-width: 100px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

section#read > .similar > div > a > figure {
	flex-shrink: 0;
	height: 80px;
	margin: 0 auto;
}

section#read > .similar > div > a > figure > img {
	background-color: var(--background_cover);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	width: 100%;
}

section#read > .similar > div > a > div:not(.no-cover) {
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

section#read > .write-a-comment {
	margin: 40px auto 0 auto;
	max-width: 500px;
	padding: 10px 15px;
}

section#read > .write-a-comment > h4 {
	margin: 0 0 15px 0;
}

section#read > .write-a-comment > .desc > p > a.yellow {
	color: var(--color_yellow);
}

section#read > .write-a-comment > .errors {
	background-color: var(--background_error);
	border-radius: 3px;
	margin-bottom: 10px;
	line-height: 1.180rem;
	padding: 10px 15px;
}

section#read > .write-a-comment > .no-ipaddress {
	color: var(--color_blue);
	display: none;
	margin-bottom: 20px;
	max-width: 400px;
}

section#read > .write-a-comment > form {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

section#read > .write-a-comment > form > div > div > input[name="field-name"] {
	width: 130px;
}

section#read > .write-a-comment > form > div > div > input[name="field-url"] {
	width: 322px;
}

section#read > .write-a-comment > form > div > div > input[name="field-password"],
section#read > .write-a-comment > form > div > div > input[name="field-password-readonly"] {
	width: 477px;
}

section#read > .write-a-comment > form > .item.your-comment,
section#read > .write-a-comment > form > .item.your-password {
	margin-top: 15px;
}

section#read > .write-a-comment > form > div > div > textarea[name="field-comment"] {
	width: 477px;
}

section#read > .write-a-comment > form > div > div > .hint {
	opacity: .5;
	padding: 5px 7px;
}

section#read > .write-a-comment > form > div > div > .hint > svg {
	margin-right: 5px;
	height: 20px;
	opacity: .2;
	vertical-align: bottom;
	width: 20px;
}

section#read > .write-a-comment > form > div > div > input#pw {
	display: none;
}

section#read > .write-a-comment > form > .checkboxes {
	display: none;
	width: 100%;
}

section#read > .write-a-comment > form > .checkboxes > .email {
	display: none;
}

section#read > .write-a-comment > form > .checkboxes > div > div > label {
	margin-left: 5px;
}

section#read > .write-a-comment > form > .button > a {
	padding: 10px;
	text-decoration: none;
}

section#read > .write-a-comment > form > .button > a#cancel {
	color: var(--color_red);
	display: none;
	margin-left: 10px;
}

section#read > .list-comments {
	padding: 10px 15px;
}

section#read > .list-comments > .message,
section#read > .list-comments > .comments > .message,
section#read > .webmention > .message {
	align-items: center;
	color: var(--color_blue);
	display: flex;
	flex-direction: column;
	font-size: 0.980rem;
	font-weight: 400;
	justify-content: center;
}

section#read > .list-comments > .message > svg,
section#read > .list-comments > .comments > .message > svg,
section#read > .webmention > .message > svg {
	margin-bottom: 10px;
	height: 64px;
	opacity: .5;
	width: 64px;
}

section#read > .list-comments > .message.loading > svg {
	animation: spin 1.5s linear infinite;
	opacity: .4;
}

section#read > .list-comments > .message > svg > path:last-child,
section#read > .list-comments > .comments > .message > svg > path:last-child,
section#read > .webmention > .message > svg > path:last-child {
	fill: var(--color_blue);
}

section#read > .list-comments > .comments {
	display: none;
}

section#read > .list-comments > .comments > h4 {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	margin-left: -20px;
}

section#read > .list-comments > .comments > h4 > a#reload,
section#read > .list-comments > .comments > h4 > div#reload-inactive {
	margin-left: 20px;
}

section#read > .list-comments > .comments > h4 > .rss {
	margin-left: 10px;
}

section#read > .list-comments > .comments > h4 > a#reload > svg,
section#read > .list-comments > .comments > h4 > div#reload-inactive > svg,
section#read > .list-comments > .comments > h4 > .rss > a > svg {
	height: 18px;
	vertical-align: top;
	width: 18px;
}

section#read > .list-comments > .comments > h4 > div#reload-inactive {
	display: none;
	cursor: not-allowed;
}

section#read > .list-comments > .comments > h4 > div#reload-inactive > svg {
	opacity: .2;
	vertical-align: top;
}

section#read > .list-comments > .comments > .item {
	padding: 10px;
}

section#read > .list-comments > .comments > .item:not(:first-child) {
	margin-top: 10px;
}

section#read > .list-comments > .comments > .item.is-an-answer {
	margin-left: 50px;
}

section#read > .list-comments > .comments > .item.highlight {
	background-color: var(--background_highlight);
	border-radius: 5px;
}

section#read > .list-comments > .comments > .item > .top {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#read > .list-comments > .comments > .item > div > .id {
	font-size: 140%;
	font-weight: 700;
	margin-right: 10px;
	opacity: .3;
}

section#read > .list-comments > .comments > .item > div > .id > a {
	color: var(--color_text);
	padding: 10px;
	text-decoration: none;
}

section#read > .list-comments > .comments > .item > div > .information > div {
	align-items: center;
	display: flex;
	flex-direction: row;
	line-height: 0.980rem;
}

section#read > .list-comments > .comments > .item > div > .information > div > .shortinfo {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#read > .list-comments > .comments > .item > div > .information > div > .shortinfo > .name {
	font-weight: 700;
}

section#read > .list-comments > .comments > .item > div > .information > div > .shortinfo > .name > .rss {
	margin-left: 2px;
}

section#read > .list-comments > .comments > .item > div > .information > div > .shortinfo > .name > .rss > a {
	padding: 3px;
}

section#read > .list-comments > .comments > .item > div > .information > div > .shortinfo > .name > .rss > a > svg {
	height: 15px;
	opacity: .5;
	vertical-align: top;
	width: 15px;
}

section#read > .list-comments > .comments > .item > div > .information > div > .url {
	margin-left: 10px;
}

section#read > .list-comments > .comments > .item > div > .information > div > .url > a > .path {
	opacity: .7;
}

section#read > .list-comments > .comments > .item > div > .information > div > .published {
	margin-top: 5px;
	line-height: 0.980rem;
	opacity: .7;
}

section#read > .list-comments > .comments > .item > .comment {
	margin-top: 5px;
}

section#read > .list-comments > .comments > .item > .comment > .answering-to {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 5px;
	opacity: .7;
}

section#read > .list-comments > .comments > .item > .comment > .answering-to > svg {
	height: 18px;
	margin-right: 5px;
	opacity: .5;
	width: 18px;
}

section#read > .list-comments > .comments > .item > .comment > .answering-to > a {
	margin-left: 3px;
}

section#read > .list-comments > .comments > .item > .comment > figure > img {
	border-radius: 3px;
	margin: 10px 0;
	vertical-align: top;
	width: 100%;
}

section#read > .list-comments > .comments > .item > .comment > p > .link-id {
	font-size: 0.850rem;
	font-weight: 700;
	text-decoration: none;
}

section#read > .list-comments > .comments > .item > .links {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#read > .list-comments > .comments > .item > .links > a,
section#read > .list-comments > .comments > .item > .links > div {
	color: var(--color_text);
	opacity: .5;
	padding: 5px;
	text-decoration: none;
}

section#read > .list-comments > .comments > .item > .links > .loading,
section#read > .list-comments > .comments > .item > .links > .managing,
section#read > .list-comments > .comments > .item > .links > .answer-inactive {
	display: none;
}

section#read > .list-comments > .comments > .item > .links > .answer-inactive {
	cursor: not-allowed;
	opacity: .2;
}

section#read > .webmention {
	padding: 10px 15px;
}

section#read > .webmention > h4 {
	margin-bottom: 0;
}

section#read > .webmention > .likes,
section#read > .webmention > .reposts {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#read > .webmention > .reposts {
	margin-top: 5px;
}

section#read > .webmention > .likes > svg,
section#read > .webmention > .reposts > svg {
	height: 18px;
	margin-right: 25px;
	width: 18px;
}

section#read > .webmention > .likes > div > a > img,
section#read > .webmention > .reposts > div > a > img {
	opacity: 1;
}

section#read > .webmention > .likes > svg > path:last-child {
	fill: #ca8f04;
}

section#read > .webmention > .reposts > svg > path:last-child {
	fill: #2b90d9;
}

section#read > .webmention > div > div > .empty,
section#read > .webmention > .likes > div > a > img,
section#read > .webmention > .reposts > div > a > img {
	background-color: var(--background_toot);
	background-size: 30px;
	border: 5px solid var(--background);
	border-radius: 50px;
	height: 30px;
	vertical-align: top;
	width: 30px;
}

section#read > .webmention > .likes > div:not(:first-child),
section#read > .webmention > .reposts > div:not(:first-child) {
	margin-left: -15px;
}

section#read > .webmention > .replies {
	margin-top: 30px;
}

section#read > .webmention > .replies > div:not(:first-child) {
	margin-top: 20px;
}

section#read > .webmention > .replies > div > .info {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

section#read > .webmention > .replies > div > .info > .avatar {
	background-size: 32px;
	border-radius: 3px;
	height: 32px;
	margin-right: 10px;
	width: 32px;
}

section#read > .webmention > .replies > div > .info > div > .name {
	font-weight: 700;
}

section#read > .webmention > .replies > div > .info > div > .received {
	opacity: .6;
}

section#read > .webmention > .replies > div > .info > div > .name > a,
section#read > .webmention > .replies > div > .info > div > .received > a {
	color: var(--color_text);
	text-decoration: none;
}

section#read > .webmention > .replies > div > .content > a {
	display: none;
}

section#blog > .paging {
	margin-top: 50px;
	text-align: center;
}

section#blog > .paging > .navigate {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

section#blog > .paging > .navigate > a {
	color: var(--color_text);
	padding: 5px;
	text-decoration: none;
}

section#blog > .paging > .navigate > .inactive {
	cursor: not-allowed;
	opacity: .3;
	padding: 5px;
}



section#comments > .rss-feed {
	margin-bottom: 20px;
}

section#comments > .rss-feed > svg {
	height: 18px;
	margin-top: 2px;
	margin-right: 10px;
	vertical-align: top;
	width: 18px;
}

section#comments > .comment {
	padding: 10px 0;
}

section#comments > .comment > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	padding: 2px 0;
}

section#comments > .comment > div > .label {
	flex-shrink: 0;
	opacity: .7;
	padding-right: 10px;
	text-align: right;
	width: 100px;
}

section#comments > .comment > div > .value > a {
	color: var(--color_text);
	text-decoration: none;
}

section#comments > .comment > div > .value > .rss {
	margin-left: 5px;
}

section#comments > .comment > div > .value > .rss > a {
	padding: 5px;
}

section#comments > .comment > div > .value > .rss > a > svg {
	height: 15px;
	margin-top: 2px;
	opacity: .5;
	vertical-align: top;
	width: 15px;
}



section#comment-author > h1 {
	margin-bottom: 10px;
}

section#comment-author > .not-unique {
	color: var(--color_yellow);
	margin-bottom: 20px;
	padding: 10px 15px;
	max-width: 500px;
}

section#comment-author > div > .list > .item {
	padding: 20px 0;
}

section#comment-author > div > div > .item > .post {
	margin-bottom: 10px;
}

section#comment-author > div > div > .item > .post > a {
	color: var(--color_text);
	font-weight: 700;
	text-decoration: none;
}

section#comment-author > div > .list > .item > .top {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#comment-author > div > .list > .item > div > .id {
	font-size: 140%;
	font-weight: 700;
	margin-right: 10px;
	opacity: .3;
}

section#comment-author > div > .list > .item > div > .id > a {
	color: var(--color_text);
	padding: 10px;
	text-decoration: none;
}

section#comment-author > div > .list > .item > div > .information > div {
	align-items: center;
	display: flex;
	flex-direction: row;
	line-height: 0.980rem;
}

section#comment-author > div > .list > .item > div > .information > div > .name {
	font-weight: 700;
}

section#comment-author > div > .list > .item > div > .information > div > .url {
	margin-left: 10px;
}

section#comment-author > div > .list > .item > div > .information > div > .url > a > .path {
	opacity: .7;
}

section#comment-author > div > .list > .item > div > .information > div > .published {
	margin-top: 5px;
	line-height: 0.980rem;
	opacity: .7;
}

section#comment-author > div > .list > .item > .comment {
	margin-top: 10px;
}

section#comment-author > div > .list > .item > .comment > p > .link-id {
	font-size: 0.850rem;
	font-weight: 700;
	text-decoration: none;
}

section#comment-author > div > .list > .item > .links {
	margin-top: 15px;
}

section#comment-author > div > .list > .item > .links > a {
	color: var(--color_text);
	opacity: .5;
	text-decoration: none;
	transition: opacity .2s linear;
}

section#comment-author > div > .list > .item > .links > a:hover {
	opacity: 1;
}

section#comment-author > div > .statistics {
	border-top: 1px dashed var(--border_dashed_statistics);
	margin-top: 30px;
	padding-top: 50px;
}

section#comment-author > div > .statistics > h4 {
	margin: 0 0 10px 0;
}

section#comment-author > div > .statistics > .item {
	padding: 5px 0;
}

section#comment-author > div > .statistics > .item > .label {
	opacity: .7;
}



section#files > ul {
	margin-bottom: 30px;
}

section#files > form > .item.choose-file {
	margin-left: -5px;
}

section#files > form > .image {
	background-color: var(--background_image);
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	max-height: 300px;
	margin-bottom: 20px;
	width: 100%;
}

section#files > form > .item > .field > .custom-file-upload {
	align-items: center;
	border: 0;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding: 10px;
	width: calc(100% - 25px);
}

section#files > form > .item > .field > .custom-file-upload > svg {
	height: 20px;
	margin-right: 10px;
	opacity: .5;
	width: 20px;
}

section#files > form > .item > .field > input[name="field-name"] {
	width: calc(100% - 100px);
}

section#files > form > .item > .field > input[name="field-alt"] {
	width: calc(100% - 15px);
}

section#files > form > .item > .field > .extension {
	display: inline-block;
	margin-left: 10px;
	text-transform: uppercase;
}

section#files > form > .button {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#files > form > .button > .links {
	margin-left: 20px;
}

section#files > form > .button > .links > a {
	color: var(--color_red);
	padding: 9px 10px;
	text-decoration: none;
}

section#files > .list-files {
	margin-top: 50px;
}

section#files > .list-files > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	padding: 3px 5px;
}

section#files > .list-files > div > .side-by-side {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#files > .list-files > div > .side-by-side > .delete,
section#files > .list-files > div > .side-by-side > .edit,
section#files > .list-files > div > .side-by-side > .copy,
section#files > .list-files > div > .side-by-side > .open {
	width: auto;
}

section#files > .list-files > div > .side-by-side > div > a {
	color: var(--color_text);
	padding: 5px;
	text-decoration: none;
}

/*
section#files > .list-files > div > .side-by-side > .delete,
section#files > .list-files > div > .side-by-side > .edit {
	width: 25px;
}

section#files > .list-files > div > .side-by-side > .copy,
section#files > .list-files > div > .side-by-side > .open {
	width: 30px;
}

section#files > .list-files > div > .side-by-side > .delete > a > svg {
	height: 24px;
	width: 18px;
}

section#files > .list-files > div > .side-by-side > .delete > a > svg > path:last-child {
	fill: var(--color_delete_file);
}

section#files > .list-files > div > .side-by-side > div > a,
section#files > .list-files > div > .side-by-side > div > a > svg {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

section#files > .list-files > div > .side-by-side > div > a {
	padding: 5px;
}

section#files > .list-files > div > .side-by-side > .open > a > svg,
section#files > .list-files > div > .side-by-side > .edit > a > svg,
section#files > .list-files > div > .side-by-side > .copy > a > svg {
	height: 24px;
	width: 18px;
}
*/

section#files > .list-files > div > .side-by-side > .thumbnail {
	margin: 0 10px 0 25px;
	width: 18px;
}

section#files > .list-files > div > .side-by-side > .thumbnail > div {
	background-size: 50px;
	background-position: center;
	border-radius: 100px;
	height: 18px;
	width: 18px;
}

section#files > .list-files > div > .side-by-side > .filename {
	width: 400px;
}



section#post-diff > details > summary {
	cursor: pointer;
	font-size: 100%;
	font-weight: 700;
	margin-left: -10px;
	padding: 10px;
}

section#post-diff > .content,
section#post-diff > details > .content {
	font-family: 'Ubuntu Mono', monospace;
	word-wrap: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	text-align: justify;
}

section#post-diff > details > .content {
	margin-left: 15px;
}

section#post-diff > .content > div,
section#post-diff > details > .content > div {
	display: inline-block;
}

section#post-diff > .content > .removed,
section#post-diff > details > .content > .removed {
	background-color: var(--background_red);
}

section#post-diff > .content > .added,
section#post-diff > details > .content > .added {
	background-color: var(--background_green);
}

section#post-diff > .statistics,
section#post-diff > details > .statistics {
	margin-top: 30px;
}

section#post-diff > details > .statistics {
	margin-left: 15px;
}

section#post-diff > details:not(:last-child) > .statistics {
	margin-bottom: 30px;
}

section#post-diff > .options {
	margin-top: 10px;
	margin-left: -5px;
}

section#post-diff > .options > a {
	color: var(--color_text);
	padding: 5px;
	text-decoration: none;
}

section#post-diff > .options > a#accept {
	color: var(--color_green);
	font-weight: 700;
	margin-left: 10px;
}

section#post-diff > .options > a#deny {
	color: var(--color_red);
}



/* section#privacy > h1 {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
} */

section#privacy > h1 > a {
	color: var(--color_text);
	text-decoration: none;
}

section#privacy > h1 > svg {
	display: inline-block;
	height: 32px;
	margin: 0 10px;
	vertical-align: top;
	opacity: .5;
	width: 32px;
}

section#privacy > .links {
	font-size: 120%;
	font-weight: 200;
	margin-top: 40px;
}

section#privacy > .links > a {
	background-color: var(--background_privacypage);
	color: var(--color_text);
	display: block;
	margin: 5px;
	padding: 10px;
	text-decoration: none;
}

section#privacy > .pages {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
}

section#privacy > .pages > a {
	background-color: var(--background_privacypage);
	color: var(--color_text);
	font-size: 130%;
	font-weight: 200;
	margin: 5px;
	opacity: .7;
	padding: 20px;
	text-decoration: none;
	width: calc(50% - (20px * 2));
}

section#privacy > .pages.one-link.right {
	justify-content: flex-end;
}

section#privacy > .pages.one-link > a {
	width: calc(50% - 50px);
}

section#privacy > .pages > a.right {
	text-align: right;
}

section#privacy > .explaination {
	opacity: .7;
	padding: 20px 50px;
}

section#privacy > .explaination > h4 {
	font-size: 110%;
	margin: 0;
}

section#privacy > .localstorage {
	margin-top: 10px;
}

section#privacy > .localstorage > .answer > .js-inactive,
section#privacy > .localstorage > .answer > span:not(.checking) {
	display: none;
}

section#privacy > .localstorage > .answer > span > .delimiter {
	margin: 0 10px;
}

section#privacy > ul > li > div {
	display: inline-block;
}

section#privacy > ul > li > .tag {
	font-size: 0.800rem;
	margin: 0 3px;
}

section#privacy > ul > li > .tag.first {
	margin-left: 10px;
}

section#privacy > ul > li > .tag.plaintext {
	color: #7d7b4b;
}

section#privacy > ul > li > .tag.hashed {
	color: #4b7d7d;
}

section#privacy > ul > li > .tag.public {
	color: #4e7d4b;
}

section#privacy > ul > li > .tag.private {
	color: #7c4b7d;
}

section#privacy > ul > li > .tag.encrypted {
	color: #7d614b;
}



section#your-data > .message,
section#your-data > .content {
	display: none;
}

section#your-data > .content > .delete-all-data {
	margin-bottom: 40px;
}

section#your-data > .content > .ip-address {
	font-size: 120%;
	font-weight: 200;
	margin-bottom: 10px;
}

section#your-data > .content > .useragent {
	font-size: 120%;
	font-weight: 200;
	margin-bottom: 50px;
}

section#your-data > .content > .delete-all-data > a#delete {
	background-color: var(--background_red);
	border-radius: 5px;
	color: var(--color_text);
	padding: 10px;
	text-decoration: none;
}

section#your-data > .content > .item {
	padding: 10px 0;
}

section#your-data > .content > .item > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	padding: 2px 0;
}

section#your-data > .content > .item > div > .label {
	flex-shrink: 0;
	opacity: .7;
	padding-right: 10px;
	text-align: right;
	width: 100px;
}

section#your-data > .content > .item > .page > .value > .mark {
	border-radius: 2px;
	display: inline-block;
	line-height: 0;
	font-family: 'Ubuntu Mono', monospace;
	margin-right: 8px;
	padding: 10px 5px;
}

section#your-data > .content > .item > .page > .value > .mark.type {
	background-color: var(--background_mark_type);
}

section#your-data > .content > .item > .page > .value > .mark.language {
	background-color: var(--background_mark_language);
}

section#your-data > .content > .item > .page > .value > .mark.rss {
	background-color: var(--background_mark_rss);
}



section#copyright > .icons {
	margin: 20px 0 0 0;
	opacity: .3;
}

section#copyright > .icons > svg {
	height: 48px;
	width: 48px;
}

section#copyright > .icons > svg:first-child {
	margin-right: 10px;
}



section#statistics > h4 {
	margin: 50px 0 10px 0;
}

section#statistics > .the-data {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

section#statistics > .the-data > .item {
	padding: 10px 15px;
}

section#statistics > .the-data > .item.short {
	max-width: 100px;
}

section#statistics > .the-data > .item.wide {
	max-width: 150px;
}

section#statistics > .the-data > .item.wider {
	max-width: 400px;
	min-width: 300px;
}

section#statistics > .the-data > .item > .label {
	font-weight: 200;
	line-height: 110%;
	margin-bottom: 5px;
	max-width: 300px;
	min-width: 120px;
	opacity: .7;
}



section#about > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

section#about > div > .about-erik {
	margin-top: -70px;
	margin-right: 40px;
	width: 305px;
}

section#about > div > .about-blog {
	width: 400px;
}

section#about > div > .about-erik > .avatar {
	background-image: url(https://cdn.airikr.me/images/selfie-3-b.jpg);
	background-size: 100px;
	border: 15px solid var(--background);
	border-radius: 100px;
	height: 100px;
	margin: 0 auto 10px auto;
	width: 100px;
}



section#login {
	margin: 50px auto 0 auto;
	width: 400px;
}

section#login > .icon {
	margin: 0 auto 20px auto;
	width: 120px;
}

section#login > .icon > svg {
	height: 120px;
	opacity: .2;
	width: 120px;
}

section#login > .icon > svg > path:last-child {
	fill: var(--login_icon);
}

section#login > form {
	padding: 5px;
}

section#login > form > .fields {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

section#login > form > .fields > .item > .field > input[name="field-username"] {
	width: 240px;
}

section#login > form > .fields > .item > .field > input[name="field-totp"],
section#login > form > .fields > .item > .field > input[name="field-password"] {
	width: 100px;
}

section#login > form > .button {
	margin-top: 5px;
}

section#login > form > .button > a {
	color: var(--color_text);
	margin-left: 10px;
	padding: 8px 10px;
	text-decoration: none;
}

section#login > form > .button > .inactive {
	display: inline-block;
	cursor: not-allowed;
	margin-left: 10px;
	opacity: .3;
	padding: 8px 10px;
}



section#restore {
	margin: 50px auto 0 auto;
	width: 400px;
}

section#restore > .icon {
	margin: 0 auto 20px auto;
	width: 120px;
}

section#restore > .icon > svg {
	height: 120px;
	opacity: .2;
	width: 120px;
}

section#restore > .icon > svg > path:last-child {
	fill: #dbd06c;
}

section#restore > form {
	padding: 5px;
}

section#restore > form > .fields {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

section#restore > form > .item > .field > input[name="field-email"] {
	width: 364px;
}

section#restore > form > .button {
	margin-top: 5px;
}

section#restore > form > .button > a {
	color: var(--color_red);
	margin-left: 10px;
	padding: 8px 10px;
	text-decoration: none;
}



section#search > form {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}

section#search > form > [name="field-string"] {
	width: 100%;
}

section#search > form > input[type="submit"] {
	margin: 10px 0 0 0;
}



section#config > form {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 40px;
}

section#config > form > .code {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 250px;
}

section#config > form > .code > .secret {
	margin-bottom: 10px;
}

section#config > form > .code > .secret > input[readonly] {
	background-color: transparent;
	border: 0;
	font-size: 1.280rem;
	outline: none;
	padding: 0;
	text-align: center;
	width: 100%;
}

section#config > form > .fields {
	margin-top: 26px;
	margin-left: 20px;
}

section#login > form > .fields > [name="field-totp"],
section#config > form > .fields > .field > [name="field-totp"] {
	font-size: 1.480rem;
	letter-spacing: 3px;
	padding: 8px 10px;
	text-align: center;
	width: 177px;
}



section#settings {
	margin: 0 auto;
	max-width: 500px;
}

section#settings > .content {
	margin-bottom: 30px;
}

section#settings > form > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

section#settings > form > div > .item > .field > input[name="field-name"] {
	width: 130px;
}

section#settings > form > div > .item > .field > input[name="field-url"] {
	width: 322px;
}



section#write > form > .item.content {
	margin-top: 30px;
}

section#write > form > .item {
	width: 100%;
}

section#write > form > .side-by-side > .item {
	width: auto;
}

section#write > form > .item.subject {
	margin-bottom: 20px;
}

section#write > form > .item.subject > .field > [name="field-subject"] {
	font-size: 140%;
	padding: 10px 15px;
	width: calc(100% - 40px);
}

section#write > form > .side-by-side > .item.tags > .field > [name="field-tags"] {
	width: 553px;
}

section#write > form > .side-by-side > .item.publish > .field > input[name="field-publish-date"] {
	width: 83px;
}

section#write > form > .side-by-side > .item.publish > .field > input[name="field-publish-time"] {
	margin-left: 5px;
	width: 40px;
}

section#write > form > .side-by-side > div:last-child {
	margin: 0;
}

section#write > form > .item > .fields > input[name="field-cover"] {
	width: 283px;
}

section#write > form > .item > .fields > input[name="field-cover-owner"] {
	margin-left: 10px;
	width: 180px;
}

section#write > form > .item > .fields > input[name="field-cover-owner-url"] {
	margin-left: 10px;
	width: 210px;
}

section#write > form > .item > .field > textarea[name="field-content"],
section#write > form > .item > .field > textarea[name="field-content-meta"] {
	width: calc(100% - (10px * 2));
}

section#write > form > .item > .field > textarea[name="field-content-meta"] {
	min-height: 100px !important;
}

section#write > form > .button > input[name="button-save-new"],
section#write > form > .button > input[name="button-save"],
section#write > form > .button > input[name="button-save-unpublish"] {
	background-color: var(--background_button);
	color: var(--color_button);
	margin-left: 10px;
}

section#write > form > .button {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#write > form > .button > .links {
	margin-left: 20px;
}

section#write > form > .button > .links > a#delete {
	color: var(--color_red);
	padding: 9px 10px;
	text-decoration: none;
}

section#write > form > .button > .links > a#goback {
	color: var(--color_text);
	padding: 9px 10px;
	text-decoration: none;
}

section#write > .markdown-sheet {
	margin-top: 40px;
	padding: 5px;
}

section#write > .markdown-sheet > .item {
	padding: 5px 0;
}

section#write > .markdown-sheet > .item > div {
	display: inline-block;
}

section#write > .markdown-sheet > .item > div:first-child {
	width: 300px;
}



section#edit-post > .content {
	margin-bottom: 20px;
}

section#edit-post > form > .item > .field > textarea[name="field-content"] {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 100%;
	width: calc(100% - (10px * 2));
}

section#edit-post > form > .button {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#edit-post > form > .button > .links {
	margin-left: 10px;
}

section#edit-post > form > .button > .links > a {
	color: var(--color_text);
	padding: 9px 10px;
	text-decoration: none;
}







/* **** **** **** **** **** */







/*
	Colours
*/

.color-blue {
	color: var(--color_blue) !important;
}

.color-red {
	color: var(--color_red) !important;
}

.color-green {
	color: var(--color_green) !important;
}

.color-yellow {
	color: var(--color_yellow) !important;
}



/*
	Sparks
*/

.sparks {
	font-size: 3rem;
	margin-bottom: 30px;
}

.sparks > .bar {
	font-family: Sparks-Bar-Medium;
}

.sparks > .line {
	font-family: Sparks-Dotline-Medium;
}

.sparks > .overlapping {
	position: absolute;
}

.sparks > .foreground {
	color: var(--color_blue);
	z-index: 10;
}

.sparks > .background {
	opacity: .7;
	z-index: 5;
}



/*
	Form
*/

form > .item,
form > div > .item,
form > .side-by-side > .item {
	padding: 5px;
}

form > .item.withdesc {
	margin-top: 10px;
}

form > .item > .label,
form > div > .item > .label,
form > .side-by-side > .item > .label {
	margin-left: 7px;
	margin-bottom: 5px;
}

form > .item.withdesc > .label {
	padding-bottom: 5px;
}

form > .item.withdesc > .description {
	padding: 0 0 15px 7px;
	max-width: 400px;
	line-height: 1.180rem;
	opacity: .7;
}

form > .item > .description > p {
	padding: 0;
}

form > .item > .description > p:not(:first-child) {
	padding-top: 8px;
}

form > .item > .description > p > .delete-cover {
	color: var(--color_red);
	text-decoration: none;
}

form > .checkboxes,
form > .reminder,
form > .ip-address {
	margin-top: 15px;
	line-height: 140%;
	padding: 5px 15px;
	width: calc(100% - (15px * 2));
}

form > .ip-address {
	margin-top: 0;
}

form > .checkboxes > .pretty {
	margin: 5px 0;
	width: 100%;
}

form > .button,
form > div > .button,
.popup > div > div > .button {
	margin-top: 15px;
	padding: 5px;
}



/*
	Table
*/

.table {
	display: table;
}

.table > .row {
	display: table-row;
}

.table > .row > .cell {
	display: table-cell;
}

.table > .row > .cell.width {
	width: 170px;
}



/*
	Various
*/

div#message {
	display: none;
	margin-bottom: 10px;
	padding: 10px 12px;
}

div.message {
	font-size: 130%;
	font-weight: 200;
	padding: 30px 15px;
	opacity: .5;
	text-align: center;
}

.no-select {
	cursor: default;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.emoji {
	display: inline-block;
	height: 16px;
	margin: 3px 2px 0 2px;
	vertical-align: top;
	width: 16px;
}

.sub {
	color: var(--color_yellow);
	margin: 5px 0 0 0;
}

.small-text {
	font-size: 90%;
	line-height: 130%;
}

.bold-text {
	font-weight: 700;
}

.centered {
	padding: 10px 15px;
	text-align: center;
}

.desc {
	margin: 0 0 20px 0;
	line-height: 140%;
	opacity: .7;
}

.desc > p {
	padding: 5px 0;
}

.side-by-side {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.side-by-side > div {
	width: 375px;
}

.side-by-side > div:last-child:not(.filename):not(.name) {
	margin-left: 50px;
}

.side-by-side > div > h4 {
	margin: 0 0 5px 0;
}

.side-by-side > div > p {
	padding: 5px 0;
}

a.yellow {
	border-bottom: 1px solid var(--border_desc);
	color: var(--color_yellow);
	text-decoration: none;
}

a.blue {
	border-bottom: 1px solid var(--border_desc);
	color: var(--color_blue);
	text-decoration: none;
}

.toot {
	align-items: flex-start;
	background-color: var(--background_toot);
	border-radius: 5px;
	display: flex;
	line-height: 0.700rem;
	flex-direction: row;
	margin: 20px auto;
	max-width: 500px;
	padding: 15px;
	position: relative;
}

.toot > .mastodon-logo {
	right: 5px;
	opacity: .2;
	position: absolute;
	top: 5px;
}

.toot > .mastodon-logo > svg {
	height: 32px;
	width: 32px;
}

.toot > .error {
	text-align: center;
	width: 100%;
}

.toot > .avatar {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 48px;
	border-radius: 3px;
	height: 48px;
	flex-shrink: 0;
	margin-right: 15px;
	width: 48px;
}

.toot > .content > .info {
	margin-bottom: 15px;
}

.toot > .content > .info > div {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.toot > .content > .info > div > .displayname {
	font-weight: 700;
}

.toot > .content > .info > div > .username {
	margin-left: 5px;
	opacity: .3;
}

.toot > .content > .info > .created {
	margin-top: 8px;
	font-size: 0.820rem;
	opacity: .5;
}

.toot > .content > .info > .created > a {
	color: var(--color_text);
	text-decoration: none;
}

.toot > .content > .text {
	line-height: 1.380rem;
	max-width: 430px;
}

.toot > .content > .media {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 15px;
	max-width: 430px;
}

.toot > .content > .media > .item:first-child {
	margin-right: 5px;
}

.toot > .content > .media > .item:not(:first-child) {
	margin: 0 5px;
}

.toot > .content > .media > .item > a > figure > img {
	border-radius: 3px;
	height: auto;
	vertical-align: top;
	width: 64px;
}

.toot > .content > .statistics {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 15px;
	margin-left: -8px;
	opacity: .3;
}

.toot > .content > .statistics > div {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin: 0 8px;
}

.toot > .content > .statistics > div > svg {
	height: 18px;
	margin-right: 5px;
	opacity: .5;
	width: 18px;
}



aside > .other > .icons > a:first-child > svg > path:last-child,
section#read > .list-comments > .comments > h4 > .rss > a > svg > path:last-child,
section#read > .list-comments > .comments > .item > div > .information > div > .shortinfo > .name > .rss > a > svg > path:last-child,
section#comments > .rss-feed > svg > path:last-child,
section#comments > .comment > div > .value > .rss > a > svg > path:last-child,
section#tags > .tag > .rss > a > svg > path:last-child {
	fill: var(--color_icon_rss) !important;
}

















@media only screen and (max-width: 1030px) {


	.change-theme {
		display: block;
		left: 60px;
		position: fixed;
		top: 10px;
		z-index: 9999;
	}

	.change-theme > a {
		background-color: var(--background_toggle);
		backdrop-filter: blur(4px) grayscale(50%);
		border-radius: 5px;
		line-height: 0;
		padding: 10px;
		position: fixed;
		z-index: 10000;
	}

	.change-theme > a > svg,
	.aside > svg {
		height: 20px;
		vertical-align: top;
		width: 20px;
	}

	.change-theme > a.theme.hide {
		display: none;
	}

	.aside {
		background-color: var(--background_toggle);
		backdrop-filter: blur(4px) grayscale(50%);
		border-radius: 5px;
		cursor: pointer;
		display: block;
		left: 10px;
		line-height: 0;
		padding: 10px;
		position: fixed;
		top: 10px;
		z-index: 10000;
	}

	.aside.close {
		display: none;
		margin-left: 60%;
	}

	aside {
		background-color: var(--background_nav);
		backdrop-filter: blur(4px) grayscale(50%);
		border: 0;
		display: none;
		margin: 0;
		height: 100%;
		font-size: 100%;
		overflow-y: auto;
		padding: 10px 0 0 0;
		position: fixed;
		top: 0;
		width: 60%;
		z-index: 9999;
	}

	aside > nav#main > a,
	aside > nav#main > div > a {
		padding: 8px 10px 8px 20px;
	}

	aside > nav#main > h4 {
		margin-left: 43px;
	}

	aside > .about {
		padding: 0 20px 30px 20px;
	}

	aside > .other {
		margin-top: 0;
		margin-bottom: 20px;
	}

	section#website {
		flex-direction: column;
		padding: 20px;
		width: calc(100% - 40px);
	}

	section#website > main {
		margin-top: 40px;
	}

	section#website > main,
	section#blog > .item,
	section#read > .item.read > main {
		max-width: 100%;
		width: 100%;
	}

	section#blog > .paging.spacebelow {
		margin-bottom: 70px;
	}

	section#website > main > div#analytics-question {
		margin: 0 20px;
		bottom: 20px;
		width: calc(100% - 60px);
	}

	section#website > main > div#analytics-question > .minimized,
	section#website > main > div#analytics-question > .maximized {
		width: 100%;
	}

	section#website > main > div#analytics-question > .maximized {
		box-shadow: 0 0 10px var(--shadow);
		width: calc(100% - 20px);
	}

	section#blog > .item > header > h2 {
		margin: -5px -5px 5px -5px;
	}

	section#blog > .item > header > h2 > a {
		display: block;
		padding: 5px;
		width: 100%;
	}

	section#blog > .item > header > h2 > svg {
		margin-left: 0;
		margin-right: 5px;
		opacity: .7;
	}

	section#blog > .item > main > details > .content > figure,
	section#read > .item.read > main > .e-content > figure {
		margin: 0;
	}

	section#blog > .item > main > details > .content > figure > img,
	section#blog > .item > main > figure > img,
	section#read > .item.read > main > .e-content > figure > img {
		width: calc(100% + 44px);
	}

	section#read > .item > main {
		font-size: 120%;
	}

	section#read > .item.read > figure#with-attribution > img#cover {
		border-radius: 0;
		width: calc(100% + 44px);
	}

	section#read > .item.read > .attribution {
		margin-right: 0;
	}

	section#read > .list-comments > .comments > h4 {
		margin-left: 0;
	}

	section#read > .list-comments > .comments > .item.is-an-answer {
		margin-left: 25px;
	}

	section#statistics > .the-data {
		margin-left: -5px;
	}

	.side-by-side {
		flex-direction: column;
	}

	.side-by-side > div {
		width: 100%;
	}

	.side-by-side > div:last-child:not(.filename):not(.name) {
		margin-top: 30px;
		margin-left: 0;
	}

	section#write > form > .side-by-side {
		flex-direction: row !important;
	}

	section#write > form > .side-by-side > .item {
		width: 100%;
	}

	section#write > form > .side-by-side > .item > .field > input[name="field-subject"],
	section#write > form > .side-by-side > .item.tags > .field > input[name="field-tags"],
	section#write > form > .side-by-side > .item.publish > .field > input[name="field-publish"],
	section#write > form > .item > .fields > input[name="field-cover"],
	section#write > form > .item > .fields > input[name="field-cover-owner"],
	section#write > form > .item > .fields > input[name="field-cover-owner-url"] {
		width: calc(100% - 20px);
	}

	section#write > form > .item > .fields > input[name="field-cover-owner"],
	section#write > form > .item > .fields > input[name="field-cover-owner-url"] {
		margin-top: 5px;
		margin-left: 0;
	}


	section#read > .item.read > figure > img#cover {
		border-radius: 0;
		height: 400px;
		margin: 30px 0;
		width: calc(100% + 55px);
	}


}








@media only screen and (max-width: 800px) {


	section#about {
		width: 100%;
	}

	section#about > div {
		flex-direction: column;
	}

	section#about > div > .about-erik {
		margin-top: 0;
		margin-right: 0;
		width: 100%;
	}

	section#about > div > .about-blog {
		margin-top: 30px;
		width: 100%;
	}

	section#about > div > .about-erik > .avatar {
		border: 0;
		border-radius: 5px;
		height: 100px;
		margin: 0 0 10px 10px;
		width: 100px;
	}


}








@media only screen and (max-width: 755px) {


	section#privacy > .item {
		flex-direction: column;
		padding: 5px 10px 5px 0;
	}

	section#privacy > .item > .type {
		font-weight: 700;
		margin-top: 5px;
		width: 100px;
	}

	section#privacy > .item > .explaination {
		max-width: 600px;
	}


}








@media only screen and (max-width: 740px) {


	section#privacy,
	section#statistics {
		margin: 0;
		width: 100%;
	}


}








@media only screen and (max-width: 679px) {


	section#read > .paging {
		margin-right: auto;
		margin-left: auto;
		width: 320px;
	}

	section#read > .paging > .next {
		margin-top: 20px;
	}


}








@media only screen and (max-width: 650px) {


	section#read > .item.read > figure > img#cover {
		height: 300px !important;
	}


}








@media only screen and (max-width: 630px) {


	html, body {
		height: auto;
	}

	body {
		display: block;
	}

	/*
	nav#main.logged-in > div {
		align-items: flex-start;
	}

	nav#main.logged-in > div > .menu > a {
		display: block;
		margin: 0;
	}

	nav#main.logged-in > div > .menu > a:not(:first-child) {
		margin-left: 0;
	}
	*/

	section#read > .write-a-comment {
		margin: 40px auto 0 auto;
		max-width: 500px;
		padding: 10px 15px;
	}

	section#files > .list-files > div {
		flex-direction: column;
		padding: 10px 0;
	}

	section#files > .list-files > div > .side-by-side > .delete {
		margin-left: -5px;
	}

	section#files > .list-files > div > .filesize {
		margin-left: 90px;
		opacity: .6;
	}


}








@media only screen and (max-width: 595px) {


	section#search {
		margin: 0;
		width: 100%;
	}

	section#search > form {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	section#search > form > .string {
		width: calc(100% - (10px * 2));
	}

	section#search > form > .string > [name="field-string"] {
		width: 100%;
	}

	section#search > form > .button {
		margin: 10px 0 0 -5px;
	}


}








@media only screen and (max-width: 590px) {


	section#about {
		margin: 0;
		width: 100%;
	}


}








@media only screen and (max-width: 580px) {


	section#read > .popup > div {
		display: block;
		height: calc(100% - 30px);
	}

	section#read > .popup > div > div {
		display: flex;
		border: 0;
		border-radius: 0;
		height: 100%;
		max-width: 100%;
	}

	section#read > .popup > div > div > footer > .button {
		border-radius: 0;
	}


}








@media only screen and (max-width: 570px) {


	section#blog > .pinned > div {
		display: block;
	}

	section#read > .share {
		width: calc(100% - 20px);
	}

	section#blog > .rating,
	section#read > .write-a-comment,
	section#read > .write-a-comment > .errors {
		padding: 10px 0;
	}

	section#blog > .rating > .thumb-up > div:last-child,
	section#blog > .rating > .thumb-down > div:last-child {
		margin-right: 10px;
	}

	form > .checkboxes,
	form > .reminder,
	form > .ip-address {
		padding: 5px;
	}

	section#read > .list-comments,
	section#read > .webmention {
		margin: 40px 0 0 0;
		padding: 0;
		width: 100%;
	}


}








@media only screen and (max-width: 540px) {


	section#read > .write-a-comment > form > div > div > input[name="field-name"],
	section#read > .write-a-comment > form > div > div > input[name="field-url"],
	section#read > .write-a-comment > form > div > div > input[name="field-password"],
	section#read > .write-a-comment > form > div > div > input[name="field-password-readonly"],
	section#read > .write-a-comment > form > div > div > textarea[name="field-comment"] {
		width: 100%;
	}

	section#read > .write-a-comment > form,
	section#read > .write-a-comment > form > div,
	section#read > .write-a-comment > form > div > div {
		width: 100%;
	}

	section#blog > .rating,
	section#read > .write-a-comment,
	section#read > .write-a-comment > .errors {
		max-width: 100%;
	}

	section#read > .write-a-comment > form {
		margin-left: -5px;
	}

	section#read > .list-comments > .comments > .item > .top > .avatar {
		margin-top: 2px;
	}

	section#read > .list-comments > .comments > .item > div > .information > div {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
	}

	section#read > .list-comments > .comments > .item > div > .information > div > .url {
		margin-top: 5px;
		margin-left: 0;
	}

	section#write > form > .button {
		flex-direction: column;
	}

	section#write > form > .button > input {
		display: block;
		width: 100%;
	}

	section#write > form > .button > input[name*="save"] {
		margin: 10px 0 0 0;
	}

	section#write > form > .button > .links {
		display: block;
		margin-top: 20px;
		margin-left: 0;
		text-align: center;
	}


}








@media only screen and (max-width: 539px) {


	section#read > .similar {
		text-align: center;
	}

	section#read > .similar > div:not(.message) {
		justify-content: center;
	}

	section#read > .similar > div > .nothing {
		height: 80px;
		max-width: 100px;
		min-width: 100px;
		width: 100px;
	}

	section#read > .similar > div > a > figure {
		height: 80px;
		max-width: 100px;
		min-width: 100px;
	}

	section#read > .similar > div > a > div:not(.no-cover) {
		max-width: 100px;
		min-width: 100px;
	}


}








@media only screen and (max-width: 529px) {


	section#files > .list-files > div > .side-by-side > .delete,
	section#files > .list-files > div > .side-by-side > .open,
	section#files > .list-files > div > .side-by-side > .thumbnail {
		margin-bottom: 5px;
	}

	section#files > .list-files > div > .filesize {
		margin-left: 0;
	}

	form > .item > .description > p {
		padding: 0;
	}

	section#settings > form > div > .item > .field > input[name="field-name"] {
		width: 200px;
	}

	section#settings > form > div > .item > .field > input[name="field-url"] {
		width: 430px;
	}


}








@media only screen and (max-width: 520px) {


	.toot {
		width: calc(100% - 35px);
	}

	.toot > .content > .text {
		width: 100%;
	}


}








@media only screen and (max-width: 500px) {


	section#settings > form > div {
		display: block;
	}

	section#settings > form > div > .item > .field > input[name="field-name"],
	section#settings > form > div > .item > .field > input[name="field-url"] {
		width: calc(100% - 20px);
	}


}








@media only screen and (max-width: 460px) {


	/*
	nav#main > div > .menu > a {
		display: block;
		margin: 0;
	}

	nav#main > div > .menu > a:not(:first-child) {
		margin-left: 0;
	}
	*/

	section#blog > form > .button > a {
		display: block;
		margin: 0;
	}

	section#blog > form > .button > a#delete {
		margin-top: 20px;
		margin-left: 0;
	}

	section#blog > .markdown-sheet > .item:not(:first-child) {
		margin-top: 10px;
	}

	section#blog > .markdown-sheet > .item > div {
		display: block;
	}

	section#blog > .rating > .thumb-up {
		margin-bottom: 10px;
	}

	section#blog > .rating > .thumb-up,
	section#blog > .rating > .thumb-down {
		flex-direction: column;
		flex-wrap: wrap;
	}

	section#blog > .rating > .thumb-up > div:last-child,
	section#blog > .rating > .thumb-down > div:last-child {
		margin-left: 46px;
	}

	section#write > form > .side-by-side > .item.tags,
	section#write > form > .side-by-side > .item.publish {
		width: 100%;
	}

	section#write > .markdown-sheet > .item > div {
		display: block;
	}

	section#write > .markdown-sheet > .item > div:first-child {
		width: 100%;
	}

	section#write > .markdown-sheet > .item > div:last-child {
		opacity: .5;
	}


}








@media only screen and (max-width: 440px) {


	section#login {
		margin: 0;
		width: 100%;
	}

	section#login > form > .fields {
		flex-direction: column;
	}

	section#login > form > .fields > .item {
		width: calc(100% - 30px);
	}

	section#login > form > .fields > .item > .field > input[name="field-username"],
	section#login > form > .fields > .item > .field > input[name="field-password"],
	section#login > form > .fields > .item > .field > input[name="field-totp"] {
		width: 100%;
	}

	section#login > form > .item > .field > input[name="field-email"] {
		width: calc(100% - 20px);
	}


}








@media only screen and (max-width: 420px) {


	section#blog > .item > header > .info {
		align-items: flex-start;
		flex-direction: column;
	}

	section#blog > .item > header > .info > .delimiter {
		display: none;
	}


}








@media only screen and (max-width: 400px) {


	section#read > .list-comments > .comments > .item > .top > .avatar {
		margin-top: 0;
		margin-bottom: 10px;
	}


}








@media only screen and (max-width: 360px) {


	section#read > .item.read > figure > img#cover {
		height: 200px !important;
	}

	section#blog > .rating > div:not(.desc) {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	section#blog > .rating > div:last-child {
		margin-top: 0;
	}

	section#blog > .rating > .thumb-up,
	section#blog > .rating > .thumb-down {
		margin-right: 0;
	}

	section#blog > .rating > div > div:last-child {
		margin: 0;
	}

	section#blog > .rating > div > div > a > .text,
	section#blog > .rating > div > div > div > .text {
		display: none;
	}

	section#blog > .rating > .thumb-up > div:last-child,
	section#blog > .rating > .thumb-down > div:last-child {
		margin-left: 0;
	}


}














/* @media (prefers-color-scheme: dark) {
	:root {
		--scrollbar: #cbd5d8;
		--hr: #2a2e30;

		--background: #0f0f0f;
		--background_dimmed: rgba(0, 0, 0, .5);
		--background_aside_toggle: #0f0f0f;
		--background_field: #242424;
		--background_submit: #173114;
		--background_button: #142431;
		--background_cover: #161b1d;
		--background_nav: #0e1214;
		--background_comment_linkid: #181d1f;
		--background_error: #4e0808;
		--background_regret: #07273e;
		--background_share: #181c1d;
		--background_toot: #181d1f;
		--background_page: #0f1213;
		--background_noscript: #030912;
		--background_top: #161b1d;
		--background_avatar: #161b1d;
		--background_marked: #353008;
		--background_logo: #14191b;
		--background_image: #111111;
		--background_red: #3f1818;
		--background_green: #1b3f18;
		--background_popup: rgba(0, 0, 0, .5);
		--background_popup_options: rgba(0, 0, 0, .7);
		--background_highlight: rgba(245, 255, 0, .02);

		--nav_active: #c2a357;
		--login_icon: #75999b;
		--shadow_aside_toggle: rgba(0, 0, 0, .2);

		--border_footnote_line: hsl(var(--hue_blue), 10%, 20%);
		--border_desc: rgba(255, 255, 255, .4);
		--border_comment: #373737;
		--border_nav: #373737;
		--border_popup: #222222;
		--border_dashed_statistics: #373737;

		--color_text: #c3c4c5;
		--color_link: #97afc6;
		--color_code: #c1aa72;
		--color_blue: #759dc3;
		--color_red: #c37575;
		--color_green: #75c375;
		--color_yellow: #c3c275;
		--color_blogsubtitle: hsl(var(--hue_yellow), 100%, 90%);
		--color_footnote_reference: hsl(var(--hue_yellow), 100%, 90%);
		--color_notcorrected: #c1bc17;
		--color_attention: #c3ae75;
		--color_delete: #ffffff;
		--color_delete_inactive: #ffffff;
		--color_delete_file: #e76e6e;
		--color_icon: #ffffff;
		--color_icon_rss: #edbf59;

		--underline_link: #686868;
		--cover_opacity: .7;
		--image_opacity: .8;
		--image_filter: grayscale(30%);
		--icon_opacity: .7;
	}


	aside > nav#main > a.theme.hide {
		display: none;
	}

	aside > nav#main > a.theme[data-theme="light"] {
		display: block;
	}

	aside > nav#main > a.theme[data-theme="dark"] {
		display: none;
	}
}



@media (prefers-color-scheme: light) {
	:root {
		--scrollbar: #122025;
		--hr: #d7dcde;

		--background: #f6f8f9;
		--background_dimmed: rgba(255, 255, 255, .6);
		--background_aside_toggle: #f6f8f9;
		--background_field: #ecf0f3;
		--background_submit: #c9e3c5;
		--background_button: #c5d7e3;
		--background_cover: #f0f0e3;
		--background_nav: #ffffff;
		--background_comment_linkid: #181d1f;
		--background_error: #fad3d3;
		--background_regret: #d9eaf5;
		--background_share: #ecf0f3;
		--background_toot: #f0f0e3;
		--background_page: #f0f0e3;
		--background_noscript: #bfd1eb;
		--background_top: #f0f0e3;
		--background_avatar: #f0f0e3;
		--background_marked: #f0f0e3;
		--background_logo: #f5f5f5;
		--background_image: #eaeaea;
		--background_red: #f19999;
		--background_green: #9bf199;
		--background_popup: rgba(255, 255, 255, .3);
		--background_popup_options: rgba(255, 255, 255, .5);
		--background_highlight: rgba(245, 255, 0, .2);

		--nav_active: #8b6b1d;
		--login_icon: #75999b;
		--shadow_aside_toggle: rgba(0, 0, 0, .2);

		--border_footnote_line: hsl(var(--hue_blue), 10%, 80%);
		--border_desc: rgba(0, 0, 0, .4);
		--border_comment: #d1d1d1;
		--border_nav: #c6c6bb;
		--border_popup: #eaeaea;
		--border_dashed_statistics: #d1d1d1;

		--color_text: #373737;
		--color_link: #114970;
		--color_code: #74780f;
		--color_blue: #10589c;
		--color_red: #9c1010;
		--color_green: #139c10;
		--color_yellow: #6e6725;
		--color_blogsubtitle: #373737;
		--color_footnote_reference: hsl(var(--hue_yellow), 100%, 90%);
		--color_notcorrected: #726f12;
		--color_attention: #383a03;
		--color_delete: #ffffff;
		--color_delete_inactive: #000000;
		--color_delete_file: #e76e6e;
		--color_icon: #000000;
		--color_icon_rss: #bf8910;

		--underline_link: #abc9df;
		--cover_opacity: 1;
		--image_opacity: 1;
		--image_filter: grayscale(0%);
		--icon_opacity: 1;
	}


	aside > nav#main > a.theme.hide {
		display: block;
	}

	aside > nav#main > a.theme[data-theme="light"] {
		display: none;
	}

	aside > nav#main > a.theme[data-theme="dark"] {
		display: block;
	}
} */




































/**
 * pretty-checkbox.css
 *
 * A pure CSS library to beautify checkbox and radio buttons
 *
 * Source: https://github.com/lokesh-coder/pretty-checkbox
 * Demo: https://lokesh-coder.github.io/pretty-checkbox
 *
 * Copyright (c) 2017 Lokesh rajendran
 */

.pretty *{box-sizing:border-box}.pretty input:not([type=checkbox]):not([type=radio]){display:none}.pretty{position:relative;display:inline-block;margin-right:1em;white-space:nowrap;line-height:1}.pretty input{position:absolute;left:0;top:0;min-width:1em;width:100%;height:100%;z-index:2;opacity:0;margin:0;padding:0;cursor:pointer}.pretty .state label{position:initial;display:inline-block;font-weight:400;margin:0;text-indent:1.5em;min-width:calc(1em + 2px)}.pretty .state label:after,.pretty .state label:before{content:'';width:calc(1em + 2px);height:calc(1em + 2px);display:block;box-sizing:border-box;border-radius:0;border:1px solid transparent;z-index:0;position:absolute;left:0;top:calc((0% - (100% - 1em)) - 8%);background-color:transparent}.pretty .state label:before{border-color:#bdc3c7}.pretty .state.p-is-hover,.pretty .state.p-is-indeterminate{display:none}@-webkit-keyframes zoom{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}}@keyframes zoom{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}}@-webkit-keyframes tada{0%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0;-webkit-transform:scale(7);transform:scale(7)}38%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1;-webkit-transform:scale(1);transform:scale(1)}55%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;-webkit-transform:scale(1.5);transform:scale(1.5)}72%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-transform:scale(1);transform:scale(1)}81%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;-webkit-transform:scale(1.24);transform:scale(1.24)}89%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-transform:scale(1);transform:scale(1)}95%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;-webkit-transform:scale(1.04);transform:scale(1.04)}100%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-transform:scale(1);transform:scale(1)}}@keyframes tada{0%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0;-webkit-transform:scale(7);transform:scale(7)}38%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1;-webkit-transform:scale(1);transform:scale(1)}55%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;-webkit-transform:scale(1.5);transform:scale(1.5)}72%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-transform:scale(1);transform:scale(1)}81%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;-webkit-transform:scale(1.24);transform:scale(1.24)}89%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-transform:scale(1);transform:scale(1)}95%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;-webkit-transform:scale(1.04);transform:scale(1.04)}100%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes jelly{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jelly{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@-webkit-keyframes rotate{0%{opacity:0;-webkit-transform:translateZ(-200px) rotate(-45deg);transform:translateZ(-200px) rotate(-45deg)}100%{opacity:1;-webkit-transform:translateZ(0) rotate(0);transform:translateZ(0) rotate(0)}}@keyframes rotate{0%{opacity:0;-webkit-transform:translateZ(-200px) rotate(-45deg);transform:translateZ(-200px) rotate(-45deg)}100%{opacity:1;-webkit-transform:translateZ(0) rotate(0);transform:translateZ(0) rotate(0)}}@-webkit-keyframes pulse{0%{box-shadow:0 0 0 0 #bdc3c7}100%{box-shadow:0 0 0 1.5em rgba(189,195,199,0)}}@keyframes pulse{0%{box-shadow:0 0 0 0 #bdc3c7}100%{box-shadow:0 0 0 1.5em rgba(189,195,199,0)}}.pretty.p-default.p-fill .state label:after{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}.pretty.p-default .state label:after{-webkit-transform:scale(.6);-ms-transform:scale(.6);transform:scale(.6)}.pretty.p-default input:checked~.state label:after{background-color:#bdc3c7!important}.pretty.p-default.p-thick .state label:after,.pretty.p-default.p-thick .state label:before{border-width:calc(1em / 7)}.pretty.p-default.p-thick .state label:after{-webkit-transform:scale(.4)!important;-ms-transform:scale(.4)!important;transform:scale(.4)!important}.pretty.p-icon .state .icon{position:absolute;font-size:1em;width:calc(1em + 2px);height:calc(1em + 2px);left:0;z-index:1;text-align:center;line-height:normal;top:calc((0% - (100% - 1em)) - 8%);border:1px solid transparent;opacity:0}.pretty.p-icon .state .icon:before{margin:0;width:100%;height:100%;text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-ms-flex:1;flex:1;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;line-height:1}.pretty.p-icon input:checked~.state .icon{opacity:1}.pretty.p-icon input:checked~.state label:before{border-color:#5a656b}.pretty.p-svg .state .svg{position:absolute;font-size:1em;width:calc(1em + 2px);height:calc(1em + 2px);left:0;z-index:1;text-align:center;line-height:normal;top:calc((0% - (100% - 1em)) - 8%);border:1px solid transparent;opacity:0}.pretty.p-svg .state svg{margin:0;width:100%;height:100%;text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-ms-flex:1;flex:1;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;line-height:1}.pretty.p-svg input:checked~.state .svg{opacity:1}.pretty.p-image .state img{opacity:0;position:absolute;width:calc(1em + 2px);height:calc(1em + 2px);top:0;top:calc((0% - (100% - 1em)) - 8%);left:0;z-index:0;text-align:center;line-height:normal;-webkit-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8)}.pretty.p-image input:checked~.state img{opacity:1}.pretty.p-switch input{min-width:2em}.pretty.p-switch .state{position:relative}.pretty.p-switch .state:before{content:'';border:1px solid #bdc3c7;border-radius:60px;width:2em;box-sizing:unset;height:calc(1em + 2px);position:absolute;top:0;top:calc((0% - (100% - 1em)) - 16%);z-index:0;transition:all .5s ease}.pretty.p-switch .state label{text-indent:2.5em}.pretty.p-switch .state label:after,.pretty.p-switch .state label:before{transition:all .5s ease;border-radius:100%;left:0;border-color:transparent;-webkit-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8)}.pretty.p-switch .state label:after{background-color:#bdc3c7!important}.pretty.p-switch input:checked~.state:before{border-color:#5a656b}.pretty.p-switch input:checked~.state label:before{opacity:0}.pretty.p-switch input:checked~.state label:after{background-color:#5a656b!important;left:1em}.pretty.p-switch.p-fill input:checked~.state:before{border-color:#5a656b;background-color:#5a656b!important}.pretty.p-switch.p-fill input:checked~.state label:before{opacity:0}.pretty.p-switch.p-fill input:checked~.state label:after{background-color:#fff!important;left:1em}.pretty.p-switch.p-slim .state:before{height:.1em;background:#bdc3c7!important;top:calc(50% - .1em)}.pretty.p-switch.p-slim input:checked~.state:before{border-color:#5a656b;background-color:#5a656b!important}.pretty.p-has-hover input:hover~.state:not(.p-is-hover){display:none}.pretty.p-has-hover input:hover~.state.p-is-hover{display:block}.pretty.p-has-hover input:hover~.state.p-is-hover .icon{display:block}.pretty.p-has-focus input:focus~.state label:before{box-shadow:0 0 3px 0 #bdc3c7}.pretty.p-has-indeterminate input[type=checkbox]:indeterminate~.state:not(.p-is-indeterminate){display:none}.pretty.p-has-indeterminate input[type=checkbox]:indeterminate~.state.p-is-indeterminate{display:block}.pretty.p-has-indeterminate input[type=checkbox]:indeterminate~.state.p-is-indeterminate .icon{display:block;opacity:1}.pretty.p-toggle .state.p-on{opacity:0;display:none}.pretty.p-toggle .state .icon,.pretty.p-toggle .state .svg,.pretty.p-toggle .state img,.pretty.p-toggle .state.p-off{opacity:1;display:inherit}.pretty.p-toggle .state.p-off .icon{color:#bdc3c7}.pretty.p-toggle input:checked~.state.p-on{opacity:1;display:inherit}.pretty.p-toggle input:checked~.state.p-off{opacity:0;display:none}.pretty.p-plain input:checked~.state label:before,.pretty.p-plain.p-toggle .state label:before{content:none}.pretty.p-plain.p-plain .icon{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}.pretty.p-round .state label:after,.pretty.p-round .state label:before{border-radius:100%}.pretty.p-round.p-icon .state .icon{border-radius:100%;overflow:hidden}.pretty.p-round.p-icon .state .icon:before{-webkit-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8)}.pretty.p-curve .state label:after,.pretty.p-curve .state label:before{border-radius:20%}.pretty.p-smooth .icon,.pretty.p-smooth .svg,.pretty.p-smooth label:after,.pretty.p-smooth label:before{transition:all .5s ease}.pretty.p-smooth input:checked+.state label:after{transition:all .3s ease}.pretty.p-smooth input:checked+.state .icon,.pretty.p-smooth input:checked+.state .svg,.pretty.p-smooth input:checked+.state img{-webkit-animation:zoom .2s ease;animation:zoom .2s ease}.pretty.p-smooth.p-default input:checked+.state label:after{-webkit-animation:zoom .2s ease;animation:zoom .2s ease}.pretty.p-smooth.p-plain input:checked+.state label:before{content:'';-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);transition:all .5s ease}.pretty.p-tada:not(.p-default) input:checked+.state .icon,.pretty.p-tada:not(.p-default) input:checked+.state .svg,.pretty.p-tada:not(.p-default) input:checked+.state img,.pretty.p-tada:not(.p-default) input:checked+.state label:after,.pretty.p-tada:not(.p-default) input:checked+.state label:before{-webkit-animation:tada .7s cubic-bezier(.25,.46,.45,.94) 1 alternate;animation:tada .7s cubic-bezier(.25,.46,.45,.94) 1 alternate;opacity:1}.pretty.p-jelly:not(.p-default) input:checked+.state .icon,.pretty.p-jelly:not(.p-default) input:checked+.state .svg,.pretty.p-jelly:not(.p-default) input:checked+.state img,.pretty.p-jelly:not(.p-default) input:checked+.state label:after,.pretty.p-jelly:not(.p-default) input:checked+.state label:before{-webkit-animation:jelly .7s cubic-bezier(.25,.46,.45,.94);animation:jelly .7s cubic-bezier(.25,.46,.45,.94);opacity:1}.pretty.p-jelly:not(.p-default) input:checked+.state label:before{border-color:transparent}.pretty.p-rotate:not(.p-default) input:checked~.state .icon,.pretty.p-rotate:not(.p-default) input:checked~.state .svg,.pretty.p-rotate:not(.p-default) input:checked~.state img,.pretty.p-rotate:not(.p-default) input:checked~.state label:after,.pretty.p-rotate:not(.p-default) input:checked~.state label:before{-webkit-animation:rotate .7s cubic-bezier(.25,.46,.45,.94);animation:rotate .7s cubic-bezier(.25,.46,.45,.94);opacity:1}.pretty.p-rotate:not(.p-default) input:checked~.state label:before{border-color:transparent}.pretty.p-pulse:not(.p-switch) input:checked~.state label:before{-webkit-animation:pulse 1s;animation:pulse 1s}.pretty input[disabled]{cursor:not-allowed;display:none}.pretty input[disabled]~*{opacity:.5}.pretty.p-locked input{display:none;cursor:not-allowed}.pretty input:checked~.state.p-primary label:after,.pretty.p-toggle .state.p-primary label:after{background-color:#428bca!important}.pretty input:checked~.state.p-primary .icon,.pretty input:checked~.state.p-primary .svg,.pretty.p-toggle .state.p-primary .icon,.pretty.p-toggle .state.p-primary .svg{color:#fff;stroke:#fff}.pretty input:checked~.state.p-primary-o label:before,.pretty.p-toggle .state.p-primary-o label:before{border-color:#428bca}.pretty input:checked~.state.p-primary-o label:after,.pretty.p-toggle .state.p-primary-o label:after{background-color:transparent}.pretty input:checked~.state.p-primary-o .icon,.pretty input:checked~.state.p-primary-o .svg,.pretty input:checked~.state.p-primary-o svg,.pretty.p-toggle .state.p-primary-o .icon,.pretty.p-toggle .state.p-primary-o .svg,.pretty.p-toggle .state.p-primary-o svg{color:#428bca;stroke:#428bca}.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after{background-color:#428bca!important}.pretty.p-switch input:checked~.state.p-primary:before{border-color:#428bca}.pretty.p-switch.p-fill input:checked~.state.p-primary:before{background-color:#428bca!important}.pretty.p-switch.p-slim input:checked~.state.p-primary:before{border-color:#245682;background-color:#245682!important}.pretty input:checked~.state.p-info label:after,.pretty.p-toggle .state.p-info label:after{background-color:#5bc0de!important}.pretty input:checked~.state.p-info .icon,.pretty input:checked~.state.p-info .svg,.pretty.p-toggle .state.p-info .icon,.pretty.p-toggle .state.p-info .svg{color:#fff;stroke:#fff}.pretty input:checked~.state.p-info-o label:before,.pretty.p-toggle .state.p-info-o label:before{border-color:#5bc0de}.pretty input:checked~.state.p-info-o label:after,.pretty.p-toggle .state.p-info-o label:after{background-color:transparent}.pretty input:checked~.state.p-info-o .icon,.pretty input:checked~.state.p-info-o .svg,.pretty input:checked~.state.p-info-o svg,.pretty.p-toggle .state.p-info-o .icon,.pretty.p-toggle .state.p-info-o .svg,.pretty.p-toggle .state.p-info-o svg{color:#5bc0de;stroke:#5bc0de}.pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after{background-color:#5bc0de!important}.pretty.p-switch input:checked~.state.p-info:before{border-color:#5bc0de}.pretty.p-switch.p-fill input:checked~.state.p-info:before{background-color:#5bc0de!important}.pretty.p-switch.p-slim input:checked~.state.p-info:before{border-color:#2390b0;background-color:#2390b0!important}.pretty input:checked~.state.p-success label:after,.pretty.p-toggle .state.p-success label:after{background-color:#5cb85c!important}.pretty input:checked~.state.p-success .icon,.pretty input:checked~.state.p-success .svg,.pretty.p-toggle .state.p-success .icon,.pretty.p-toggle .state.p-success .svg{color:#fff;stroke:#fff}.pretty input:checked~.state.p-success-o label:before,.pretty.p-toggle .state.p-success-o label:before{border-color:#5cb85c}.pretty input:checked~.state.p-success-o label:after,.pretty.p-toggle .state.p-success-o label:after{background-color:transparent}.pretty input:checked~.state.p-success-o .icon,.pretty input:checked~.state.p-success-o .svg,.pretty input:checked~.state.p-success-o svg,.pretty.p-toggle .state.p-success-o .icon,.pretty.p-toggle .state.p-success-o .svg,.pretty.p-toggle .state.p-success-o svg{color:#5cb85c;stroke:#5cb85c}.pretty.p-default:not(.p-fill) input:checked~.state.p-success-o label:after{background-color:#5cb85c!important}.pretty.p-switch input:checked~.state.p-success:before{border-color:#5cb85c}.pretty.p-switch.p-fill input:checked~.state.p-success:before{background-color:#5cb85c!important}.pretty.p-switch.p-slim input:checked~.state.p-success:before{border-color:#357935;background-color:#357935!important}.pretty input:checked~.state.p-warning label:after,.pretty.p-toggle .state.p-warning label:after{background-color:#f0ad4e!important}.pretty input:checked~.state.p-warning .icon,.pretty input:checked~.state.p-warning .svg,.pretty.p-toggle .state.p-warning .icon,.pretty.p-toggle .state.p-warning .svg{color:#fff;stroke:#fff}.pretty input:checked~.state.p-warning-o label:before,.pretty.p-toggle .state.p-warning-o label:before{border-color:#f0ad4e}.pretty input:checked~.state.p-warning-o label:after,.pretty.p-toggle .state.p-warning-o label:after{background-color:transparent}.pretty input:checked~.state.p-warning-o .icon,.pretty input:checked~.state.p-warning-o .svg,.pretty input:checked~.state.p-warning-o svg,.pretty.p-toggle .state.p-warning-o .icon,.pretty.p-toggle .state.p-warning-o .svg,.pretty.p-toggle .state.p-warning-o svg{color:#f0ad4e;stroke:#f0ad4e}.pretty.p-default:not(.p-fill) input:checked~.state.p-warning-o label:after{background-color:#f0ad4e!important}.pretty.p-switch input:checked~.state.p-warning:before{border-color:#f0ad4e}.pretty.p-switch.p-fill input:checked~.state.p-warning:before{background-color:#f0ad4e!important}.pretty.p-switch.p-slim input:checked~.state.p-warning:before{border-color:#c77c11;background-color:#c77c11!important}.pretty input:checked~.state.p-danger label:after,.pretty.p-toggle .state.p-danger label:after{background-color:#d9534f!important}.pretty input:checked~.state.p-danger .icon,.pretty input:checked~.state.p-danger .svg,.pretty.p-toggle .state.p-danger .icon,.pretty.p-toggle .state.p-danger .svg{color:#fff;stroke:#fff}.pretty input:checked~.state.p-danger-o label:before,.pretty.p-toggle .state.p-danger-o label:before{border-color:#d9534f}.pretty input:checked~.state.p-danger-o label:after,.pretty.p-toggle .state.p-danger-o label:after{background-color:transparent}.pretty input:checked~.state.p-danger-o .icon,.pretty input:checked~.state.p-danger-o .svg,.pretty input:checked~.state.p-danger-o svg,.pretty.p-toggle .state.p-danger-o .icon,.pretty.p-toggle .state.p-danger-o .svg,.pretty.p-toggle .state.p-danger-o svg{color:#d9534f;stroke:#d9534f}.pretty.p-default:not(.p-fill) input:checked~.state.p-danger-o label:after{background-color:#d9534f!important}.pretty.p-switch input:checked~.state.p-danger:before{border-color:#d9534f}.pretty.p-switch.p-fill input:checked~.state.p-danger:before{background-color:#d9534f!important}.pretty.p-switch.p-slim input:checked~.state.p-danger:before{border-color:#a02622;background-color:#a02622!important}.pretty.p-bigger .icon,.pretty.p-bigger .img,.pretty.p-bigger .svg,.pretty.p-bigger label:after,.pretty.p-bigger label:before{font-size:1.2em!important;top:calc((0% - (100% - 1em)) - 35%)!important}.pretty.p-bigger label{text-indent:1.7em}@media print{.pretty .state .icon,.pretty .state label:after,.pretty .state label:before,.pretty .state:before{color-adjust:exact;-webkit-print-color-adjust:exact;print-color-adjust:exact}}
