section#website {
	padding-top: 80px !important;
}

section#website > main > div#analytics-question {
	display: none !important;
}

aside {
	top: 45px;
}

section#read > .item > header > .info > .comments,
section#blog > .item > header > .info > .comments,
section#blog > .message,
.write-a-comment,
.list-comments {
	display: none;
}

section#blog > .no-javascript,
section#privacy > .localstorage > .answer > .js-inactive {
	display: inline-block !important;
}

section#privacy > .localstorage > .answer > .js-inactive {
	color: var(--color_blue);
}

section#privacy > .localstorage > .answer > .checking {
	display: none;
}







@media only screen and (max-width: 1030px) {

	noscript {
		top: 60px;
	}

	noscript > div {
		border-radius: 0;
		width: calc(100% - (25px * 2));
	}

}



@media only screen and (max-width: 516px) {

	noscript > div {
		text-align: left;
	}

	section#website {
		padding-top: 110px !important;
	}

}
