:root {
	--scrollbar: #cbd5d8;
	--hr: #2a2e30;

	--background: #0f0f0f;
	--background_dimmed: rgba(0, 0, 0, .5);
	--background_analytics: rgba(0, 0, 0, .9);
	--background_toggle: rgba(0, 0, 0, .7);
	--background_field: #242424;
	--background_submit: #173114;
	--background_button: #142431;
	--background_cover: #070707;
	--background_nav: #0e1214;
	--background_comment_linkid: #181d1f;
	--background_error: #4e0808;
	--background_regret: #07273e;
	--background_share: #181c1d;
	--background_toot: #181d1f;
	--background_page: #0f1213;
	--background_noscript: rgba(255, 0, 0, .5);
	--background_top: #161b1d;
	--background_avatar: #161b1d;
	--background_marked: #353008;
	--background_mark_language: #1a4e4b;
	--background_mark_type: #351a4e;
	--background_mark_rss: #764611;
	--background_logo: #14191b;
	--background_image: #111111;
	--background_red: #3f1818;
	--background_green: #1b3f18;
	--background_popup: rgba(0, 0, 0, .5);
	--background_popup_options: rgba(0, 0, 0, .7);
	--background_highlight: rgba(245, 255, 0, .02);
	--background_icon: #201b13;
	--background_privacypage: #131313;

	--nav_active: #c2a357;
	--login_icon: #75999b;
	--shadow: rgba(0, 0, 0, .2);

	--border_footnote_line: hsl(var(--hue_blue), 10%, 20%);
	--border_desc: rgba(255, 255, 255, .4);
	--border_comment: #373737;
	--border_nav: #373737;
	--border_popup: #222222;
	--border_dashed_statistics: #373737;

	--color_text: #c3c4c5;
	--color_link: #97afc6;
	--color_code: #c1aa72;
	--color_blue: #759dc3;
	--color_red: #c37575;
	--color_green: #75c375;
	--color_yellow: #c3c275;
	--color_blogsubtitle: hsl(var(--hue_yellow), 100%, 90%);
	--color_footnote_reference: hsl(var(--hue_yellow), 100%, 90%);
	--color_notcorrected: #c1bc17;
	--color_attention: #c3ae75;
	--color_delete: #ffffff;
	--color_delete_inactive: #ffffff;
	--color_delete_file: #e76e6e;
	--color_icon: #ffffff;
	--color_icon_rss: #ee802f;

	--underline_link: #686868;
	--cover_opacity: .7;
	--image_opacity: .8;
	--image_filter: grayscale(30%);
	--icon_opacity: .7;
}
