:root {
	--scrollbar: #122025;
	--hr: #d7dcde;

	--background: #f6f8f9;
	--background_dimmed: rgba(255, 255, 255, .5);
	--background_analytics: rgba(255, 255, 255, .9);
	--background_toggle: rgba(255, 255, 255, .7);
	--background_field: #ecf0f3;
	--background_submit: #c9e3c5;
	--background_button: #c5d7e3;
	--background_cover: #f0f0e3;
	--background_nav: #f6f8f9;
	--background_comment_linkid: #181d1f;
	--background_error: #fad3d3;
	--background_regret: #d9eaf5;
	--background_share: #ecf0f3;
	--background_toot: #f0f0e3;
	--background_page: #f0f0e3;
	--background_noscript: #bfd1eb;
	--background_top: #f0f0e3;
	--background_avatar: #f0f0e3;
	--background_marked: #f0f0e3;
	--background_mark_language: #b3dfdf;
	--background_mark_type: #cab3df;
	--background_mark_rss: #dfd3b3;
	--background_logo: #f5f5f5;
	--background_image: #eaeaea;
	--background_red: #f19999;
	--background_green: #9bf199;
	--background_popup: rgba(255, 255, 255, .3);
	--background_popup_options: rgba(255, 255, 255, .5);
	--background_highlight: rgba(245, 255, 0, .2);
	--background_icon: #eaeaea;
	--background_privacypage: #f1f1f1;

	--nav_active: #8b6b1d;
	--login_icon: #75999b;
	--shadow: rgba(0, 0, 0, .2);

	--border_footnote_line: hsl(var(--hue_blue), 10%, 80%);
	--border_desc: rgba(0, 0, 0, .4);
	--border_comment: #d1d1d1;
	--border_nav: #c6c6bb;
	--border_popup: #eaeaea;
	--border_dashed_statistics: #d1d1d1;

	--color_text: #373737;
	--color_link: #114970;
	--color_code: #74780f;
	--color_blue: #10589c;
	--color_red: #9c1010;
	--color_green: #139c10;
	--color_yellow: #6e6725;
	--color_blogsubtitle: #373737;
	--color_footnote_reference: hsl(var(--hue_yellow), 100%, 90%);
	--color_notcorrected: #726f12;
	--color_attention: #383a03;
	--color_delete: #ffffff;
	--color_delete_inactive: #000000;
	--color_delete_file: #e76e6e;
	--color_icon: #000000;
	--color_icon_rss: #ee802f;

	--underline_link: #abc9df;
	--cover_opacity: 1;
	--image_opacity: 1;
	--image_filter: grayscale(0%);
	--icon_opacity: 1;
}
